<xc-dialog-wrapper [draggable]="injectedData.draggable" [resizable]="injectedData.resizable" [maximizable]="injectedData.maximizable" [maximized]="injectedData.maximized" [xc-dialog-options]="injectedData.dialogOptions"  xc-i18n-context="zeta.xc-dialog.about-dialog">
  <ng-container header>{{injectedData.title}}</ng-container>
  <section content id="xc-about-dialog-message-container">
    <pre>{{injectedData.copyright}}</pre>
    <pre>{{injectedData.versions}}</pre>
    @if (details) {
      <hr/>
      <div class="license zeta-scrollbar">{{license}}</div>
    }
  </section>
  <ng-container footer>
    @if (injectedData.detailsLink) {
      <xc-button [disabled]="!license" (click)="toggleDetails()">{{(details ? 'button-less' : 'button-more') | xcI18n}}</xc-button>
    }
    <xc-button xc-i18n (click)="dismiss()">ok-button</xc-button>
  </ng-container>
</xc-dialog-wrapper>
