
@switch (true) {
  <!-- for performance reasons the non-template case is checked first -->
  @case (!Type.XcTemplate.of(instance)) {
    <span
      [attr.aria-label]="ariaLabel + ' : ' + instance"
      tabindex="0"
      contenteditable="false"
      aria-readonly="true"
    >{{instance}}</span>
  }
  @case (Type.XcFormTextTemplate.of(instance)) {
    <xc-form-text [label]="instance.label"
      [class]="instance.stylename"
      [value]="instance.dataWrapper.value"
      [xc-form-field-aria-label]="ariaLabel"
      [xc-form-field-compact]="instance.compact"
      [xc-form-field-floatlabel]="instance.floatLabel"
      xc-tooltip="{{instance.tooltip}}"
     />
  }
  <!--
  --< XcDefinitionListEntry >--
  Must always be unwrapped because a dl must directly contain dt and dd elements.
  This is why no class or tooltip is set here, because the element vanishes after unwrapping.
  -->
  @case (Type.XcDefinitionListEntryTemplate.of(instance)) {
    <xc-definition-list-entry [definitionType]="instance.label"
      [definitionData]="instance.data"
      xc-unwrap
     />
  }
  @case (Type.XcFormAutocompleteTemplate.of(instance)) {
    <xc-form-autocomplete [label]="instance.label"
      [placeholder]="instance.placeholder"
      [readonly]="instance.readonly || readonly"
      [disabled]="instance.disabled || disabled"
      [class]="instance.stylename"
      [xc-form-validators]="instance.validators"
      [xc-form-validator-required]="instance.required"
      [xc-form-field-aria-label]="ariaLabel"
      [xc-form-field-compact]="instance.compact"
      [xc-form-field-suffix]="instance.suffix"
      [xc-form-field-floatlabel]="instance.floatLabel"
      [xc-form-field-indicatechanges]="instance.indicateChanges"
      [xc-form-field-callback]="instance.callback"
      [(xc-form-autocomplete-option)]="instance.dataWrapper.value"
      [xc-form-autocomplete-options]="instance.dataWrapper.values"
      [xc-form-autocomplete-asinput]="instance.asInput"
      [xc-form-autocomplete-asdropdown]="instance.asDropdown"
      [xc-form-autocomplete-asmultiselect]="instance.asMultiselect"
      (xc-form-autocomplete-multiSelectChange)="instance.multiSelectCallback?.($event)"
      xc-tooltip="{{instance.tooltip}}"
     />
  }
  @case (Type.XcFormInputTemplate.of(instance)) {
    <xc-form-input [label]="instance.label"
      [placeholder]="instance.placeholder"
      [readonly]="instance.readonly || readonly"
      [disabled]="instance.disabled || disabled"
      [class]="instance.stylename"
      [(value)]="instance.dataWrapper.value"
      [type]="instance.type"
      [xc-form-validators]="instance.validators"
      [xc-form-validator-required]="instance.required"
      [xc-form-field-aria-label]="ariaLabel"
      [xc-form-field-compact]="instance.compact"
      [xc-form-field-suffix]="instance.suffix"
      [xc-form-field-floatlabel]="instance.floatLabel"
      [xc-form-field-indicatechanges]="instance.indicateChanges"
      [xc-form-field-callback]="instance.callback"
      xc-tooltip="{{instance.tooltip}}"
      [iconTooltip]="toolTip"
     />
  }
  @case (Type.XcFormTextAreaTemplate.of(instance)) {
    <xc-form-textarea [label]="instance.label"
      [placeholder]="instance.placeholder"
      [readonly]="instance.readonly || readonly"
      [disabled]="instance.disabled || disabled"
      [class]="instance.stylename"
      [(value)]="instance.dataWrapper.value"
      [xc-form-validators]="instance.validators"
      [xc-form-validator-required]="instance.required"
      [xc-form-field-aria-label]="ariaLabel"
      [xc-form-field-compact]="instance.compact"
      [xc-form-field-floatlabel]="instance.floatLabel"
      [xc-form-field-indicatechanges]="instance.indicateChanges"
      [xc-form-field-callback]="instance.callback"
      [xc-form-textarea-lines]="instance.lines"
      xc-tooltip="{{instance.tooltip}}"
     />
  }
  @case (Type.XcCheckboxTemplate.of(instance)) {
    <xc-checkbox [label]="instance.label"
      [color]="instance.color"
      [readonly]="instance.readonly || readonly"
      [disabled]="instance.disabled || disabled"
      [class]="instance.stylename"
      [(checked)]="instance.dataWrapper.value"
      [indeterminate]="instance.indeterminate"
      xc-tooltip="{{instance.tooltip}}"
      [attr.aria-label]="ariaLabel"
     />
  }
  @case (Type.XcButtonTemplate.of(instance)) {
    <xc-button
      [color]="instance.color"
      [disabled]="instance.disabled || disabled || instance.busy"
      [busy]="instance.busy"
      [class]="instance.stylename"
      xc-tooltip="{{instance.tooltip}}"
      [xc-button-aria-label]="ariaLabel"
      (click)="instance.action()"
      ><xc-icon [color]="instance.color" [xc-icon-name]="instance.iconName" [xc-icon-style]="instance.iconStyle" [xc-icon-size]="instance.iconSize">{{instance.label}}</xc-icon></xc-button>
    }
    @case (Type.XcIconButtonTemplate.of(instance)) {
      <xc-icon-button [color]="instance.color"
        [disabled]="instance.disabled || disabled || instance.busy"
        [busy]="instance.busy"
        [class]="instance.stylename"
        [xc-icon-name]="instance.iconName"
        [xc-icon-style]="instance.iconStyle"
        [xc-icon-size]="instance.iconSize"
        xc-tooltip="{{instance.tooltip}}"
        xc-button-aria-label="{{ariaLabel + (instance.label ? ' - ' + instance.label : '')}}"
        (click)="instance.action()"
       />
    }
    @case (Type.XcComponentTemplate.of(instance)) {
      <ng-container [ngComponentOutlet]="instance.component"
        [ngComponentOutletInjector]="instance.getComponentInjector(injector)"
       />
    }
  }
